<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yeadam.project.membership.map.MembershipMapper">
	<select id="membershipSelectList" resultType="co.yeadam.project.membership.service.MembershipVO">
		SELECT * FROM MEMBERSHIP;
	</select>

	<select id="membershipSelect" resultType="co.yeadam.project.membership.service.MembershipVO">
		SELECT * FROM MEMBERSHIP WHERE USER_ID = #{userId}
		<if test="userPassword != null">
			AND USER_PASSWORD = #{userPassword}
		</if>
	</select>

	<insert id="membershipInsert" parameterType="co.yeadam.project.membership.service.MembershipVO">
	INSERT INTO MEMBERSHIP(USER_ID, USER_PASSWORD, USER_NAME, USER_TEL, USER_MAIL)
	VALUES(#{userId}, #{userPassword}, #{userName}, #{userTel}, #{userMail})
	</insert>

	<update id="membershipUpdate" parameterType="co.yeadam.project.membership.service.MembershipVO">

	</update>

	<delete id="membershipDelete" parameterType="co.yeadam.project.membership.service.MembershipVO">

	</delete>
</mapper>